/* Mobile-first adjustments */
@media (max-width: 768px) {
    .navigation {
      flex-direction: column;
      padding: 10px;
    }
    .navbar {
      margin-top: 15px;
    }
    .left, .right {
      font-size: 1.5rem;
      padding: 10px !important;
      margin-left: 0 !important;
      gap: 20px;
    }
    .circle img {
      height: 50px !important;
    }
    .proj {
      font-size: 2em !important;
      padding: 30px !important;
      flex-direction: column;
    }
    .popup {
      width: 90% !important;
      height: auto !important;
    }
  }